<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="utf-8">
    {% block linkstyle %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    {% block script %}{% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>